:root {
  /* Font specifications */
  --font-family-main: "Roboto", sans-serif;
  --font-family-code: "Source Code Pro", "Roboto", sans-serif;
  --font-size-desktop: 1em;
  --font-size-mobile: 0.75em;

  /* Base colors */
  --color-base-background-main: #282a2f;
  --color-base-background-secondary: #1a1b20;
  --color-base-foreground-main: #ffffff;
  --color-base-foreground-secondary: #e2e2e9;

  /* Primary colors */
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  background-color: var(--color-base-background-main);
  color: var(--color-base-background-main);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Dashboard Container */
.dashboard {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: var(--color-base-background-main);
  overflow-y: auto;
}

/* Sidebar */
.sidebar {
  position: relative;
  width: 250px;
  display: flex;
  flex-direction: column;
  background-color: var(--color-base-background-secondary);
  padding: 20px;
  color: var(--color-base-foreground-main);
  transition: all 0.3s ease;
}

.sidebar-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.toggle-btn {
  position: absolute;
  top: 16px;
  left: 12px;
  right: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.toggle-btn span {
  width: 30px;
  height: 5px;
  border-radius: 5px;
  background: var(--color-base-foreground-main);
  display: block;
  margin-top: 4px;
}

/* Sidebar collapsed state */
.sidebar.active {
  width: 0;
  padding: 0;
}
.sidebar.active .sidebar-content {
  display: none;
}

.sidebar.active .toggle-btn {
  left: 20px;
}

.sidebar-title {
  font-size: calc(var(--font-size-desktop) * 1.5);
  font-weight: bold;
  letter-spacing: 0.8px;
  margin-bottom: 20px;
  text-align: center;
}

.sidebar-title:hover {
  color: #0a5568;
  transform: scale(1.05);
  cursor: pointer;
}

.tool-button {
  flex: 1;
  max-height: 50px;
  margin: 10px 0;
  padding: 15px;
  background-color: var(--color-base-background-secondary);
  color: var(--color-base-foreground-main);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  font-size: calc(var(--font-size-desktop) * 1);
  transition: background-color 0.3s ease;
}

.tool-button:hover {
  background-color: var(--color-base-background-main);
}

/* Content Area */
.content-area {
  flex-grow: 1; /* Take up the remaining space */
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-base-background-main);
  padding-inline: 50px;
  transition: margin-left 0.3s ease;
}

.content-area > * {
  width: 100%;
  height: 100%;
  flex: 1; /* Ensure child components stretch to fill the area */
  display: flex; /* Allow child components to use flex layouts if needed */
  align-items: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .tool-button {
    font-size: calc(var(--font-size-mobile) * 1); /* Mobile font size */
  }

  .sidebar-title {
    font-size: calc(var(--font-size-mobile) * 1.2); /* Mobile font size */
  }
  /* Sidebar collapsed state */
  .sidebar.active {
    width: 100%;
    height: 0;
  }

  .dashboard {
    flex-direction: column;
  }
  .sidebar {
    width: auto;
    border-right: none;
    border-bottom: 1mm solid var(--color-base-foreground-main);
  }

  .tool-button {
    margin: 5px 0;
  }
  .toggle-btn span {
    width: 20px;
    height: 3px;
    margin-top: 3px;
  }
}
